<div id="main-container">
   <header class="d-flex justify-content-between">
      <p *ngIf="time" class="text-center">
         {{date}}<br>
         {{time | date: "HH:mm:ss"}}
      </p>
      <h1>Tela Embarque</h1>
      <h6>Texto qualquer</h6>
   </header>

   <table class="table table-bordered table-dark table-hover">
      <thead>
         <tr>
            <th scope="col">FILIAL</th>
            <th scope="col">NF</th>
            <th scope="col">CODIGO</th>
            <th scope="col">CLIENTE</th>
            <th scope="col">PLACA</th>
            <th scope="col">LACRE</th>
            <th scope="col">QTD</th>
            <th scope="col">DATA</th>
            <th scope="col"></th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td></td>
            <td>
               <app-search placeholderString="Filtrar etiqueta" (onTyping)="filterNota = $event" [value]="filterNota">
               </app-search>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
               <div class="d-flex flex-row">
                  <div class="d-flex align-items-end">
                     <mat-form-field>
                        <mat-label>Range de Data</mat-label>
                        <mat-date-range-input [rangePicker]="data" [max]="maxDate">
                           <input matStartDate [(ngModel)]="startDate" placeholder="Data Início">
                           <input matEndDate [(ngModel)]="endDate" placeholder="Data Fim" (dateChange)="dateRange('end', $event)">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="data"></mat-datepicker-toggle>
                        <mat-date-range-picker #data></mat-date-range-picker>
                     </mat-form-field>
                     <mat-icon matDatepickerToggleIcon (click)="clearDate($event)">clear</mat-icon>
                  </div>
               </div>
            </td>
            <td></td>
         </tr>
         <tr *ngFor="let doca of docaListaFiltrada | filterNotaFiscal: filterNota"
            (click)="getProdutosDaNotaFiscaL(doca.NF)">
            <td data-bs-toggle="modal" data-bs-target="#produtosModal" scope="col">{{ doca.FILIAL }}</td>
            <td data-bs-toggle="modal" data-bs-target="#produtosModal" scope="col">{{ doca.NF }}</td>
            <td data-bs-toggle="modal" data-bs-target="#produtosModal" scope="col">{{ doca.CODIGO }}</td>
            <td data-bs-toggle="modal" data-bs-target="#produtosModal" scope="col">{{ doca.CLIENTE }}</td>
            <td data-bs-toggle="modal" data-bs-target="#produtosModal" scope="col">{{ doca.PLACA }}</td>
            <td data-bs-toggle="modal" data-bs-target="#produtosModal" scope="col">{{ doca.LACRE }}</td>
            <td data-bs-toggle="modal" data-bs-target="#produtosModal" scope="col">{{ doca.QTDE }}</td>
            <td data-bs-toggle="modal" data-bs-target="#produtosModal" scope="col">{{ doca.DATA }}</td>
            <td scope="col" class="text-center">
               <button type="button" class="col btn btn-primary"
                  [ngClass]="(liberarEmbarque === 0) ? 'btn-primary' : (liberarEmbarque === 1) ? 'btn-warning' : 'btn-success'">
                  {{liberarEmbarque === 0 ? 'Concluído' : liberarEmbarque === 1 ? 'Embarcando' : 'Embarcado'}}
               </button>
            </td>
         </tr>
      </tbody>
   </table>

   <!-- Modal -->
   <div class="modal fade" id="produtosModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h1 class="modal-title text-dark" id="exampleModalLabel">Produtos da NF: {{ notaSelecionada }}</h1>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="overflow-x: auto; height: 60vh;">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th scope="col" class="text-dark">COD. PAM</th>
                        <th scope="col" class="text-dark">DESCRIÇÃO</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let produto of listaProdutosNota">
                        <td scope="col" class="text-dark">{{ produto.CODIGO }}</td>
                        <td scope="col" class="text-dark">{{ produto.DESCRICAO }}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <div class="modal-footer">
               <div class="modal-buttons">
                  <div class="div-buttons">
                     <button [ngClass]="{'btn-success': docaId === 1}" (click)="selecionaDoca(1)" type="button"
                        class="col btn btn-primary">DOCA 01</button>
                  </div>
                  <div class="div-buttons">
                     <button [ngClass]="{'btn-success': docaId === 2}" (click)="selecionaDoca(2)" type="button"
                        class="col btn btn-primary">DOCA 02</button>
                  </div>
                  <div class="div-buttons">
                     <button [ngClass]="{'btn-success': docaId === 3}" (click)="selecionaDoca(3)" type="button"
                        class="col btn btn-primary">DOCA 03</button>
                  </div>
               </div>
               <div class="modal-buttons">
                  <button data-bs-dismiss="modal" id="liberarEmbarque" (click)="embarqueLiberado(1)" type="button"
                     class="col btn btn-primary">Liberar Embarque</button>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>