<div class="container-fluid" style="width: 100vw;">
   <div class="row" style="height: 100vh;">

      <div class="col" style="border: 2px solid black">
         <header class="row" style="border-bottom: 2px solid black">
            <h1 class="text-center" style="font-size: 50px;">DOCA 01</h1>
         </header>
         <main>
            <!-- cliente -->
            <div class="row" style="border-bottom: 2px solid black">
               <p class="col">SAMSUNG</p>
               <div class="col d-flex flex-column align-items-end">
                  <div>
                     <p>Placa: adads</p>
                     <p>NF:2312312312</p>
                     <p>Lacre: 2131232</p>
                  </div>
               </div>
            </div>
            <!-- lista dos produtos na NF -->
            <table>
               <thead>
                  <tr>
                     <th>Qtd.</th>
                     <th>Descrição</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <th>1</th>
                     <td>blabalaskansdsndasdlas</td>
                  </tr>
                  <tr>
                     <th>2</th>
                     <td>blabalaskansdsndasdlas</td>
                  </tr>
                  <tr>
                     <th>3</th>
                     <td>blabalaskansdsndasdlas</td>
                  </tr>
               </tbody>
            </table>
         </main>
      </div>
      <div class="col" style="border: 2px solid black">
         <header class="row" style="border-bottom: 2px solid black">
            <h1 class="text-center" style="font-size: 50px;">DOCA 02</h1>
         </header>
         <main>
            <!-- cliente -->
            <div class="row" style="border-bottom: 2px solid black">
               <p class="col">SAMSUNG</p>
               <div class="col d-flex flex-column align-items-end">
                  <div>
                     <p>Placa: adads</p>
                     <p>NF:2312312312</p>
                     <p>Lacre: 2131232</p>
                  </div>
               </div>
            </div>
            <!-- lista dos produtos na NF -->
            <table>
               <thead>
                  <tr>
                     <th>Qtd.</th>
                     <th>Descrição</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <th>1</th>
                     <td>blabalaskansdsndasdlas</td>
                  </tr>
                  <tr>
                     <th>2</th>
                     <td>blabalaskansdsndasdlas</td>
                  </tr>
                  <tr>
                     <th>3</th>
                     <td>blabalaskansdsndasdlas</td>
                  </tr>
               </tbody>
            </table>
         </main>
      </div>
      <div class="col" style="border: 2px solid black">
         <header class="row" style="border-bottom: 2px solid black">
            <h1 class="text-center" style="font-size: 50px;">DOCA 03</h1>
         </header>
         <main>
            <!-- cliente -->
            <div class="row" style="border-bottom: 2px solid black">
               <p class="col">SAMSUNG</p>
               <div class="col d-flex flex-column align-items-end">
                  <div>
                     <p>Placa: adads</p>
                     <p>NF:2312312312</p>
                     <p>Lacre: 2131232</p>
                  </div>
               </div>
            </div>
            <!-- lista dos produtos na NF -->
            <table>
               <thead>
                  <tr>
                     <th>Qtd.</th>
                     <th>Descrição</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <th>1</th>
                     <td>blabalaskansdsndasdlas</td>
                  </tr>
                  <tr>
                     <th>2</th>
                     <td>blabalaskansdsndasdlas</td>
                  </tr>
                  <tr>
                     <th>3</th>
                     <td>blabalaskansdsndasdlas</td>
                  </tr>
               </tbody>
            </table>
         </main>
      </div>

   </div>
</div>