<div id="main-content" class="container-fluid" style="width: 100vw;">
   <div class="row" style="height: 100vh;">

      <div class="col docas">
         <header class="row">
            <h1 class="text-center">DOCA 01</h1>
         </header>
         <main>
            <!-- cliente -->
            <div class="row cliente">
               <div class="col">
                  <div>
                     <p class="nomeCliente">SAMSUNG</p>
                  </div>
                  <div>
                     <p class="codigoCliente">000056565</p>
                  </div>
               </div>

               <div class="col info d-flex flex-column align-items-end">
                  <div>
                     <p>Placa: adads</p>
                     <p>NF:2312312312</p>
                     <p>Lacre: 2131232</p>
                  </div>
               </div>
            </div>
            <!-- lista dos produtos na NF -->
            <div class="conteudo">
               <table class="">
                  <thead>
                     <tr>
                        <th>Qtd.</th>
                        <th>Descrição</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>1</td>
                        <td>blabalaskansdsndasdlas</td>
                     </tr>
                     <tr>
                        <td>2</td>
                        <td>blabalaskansdsndasdlas</td>
                     </tr>
                     <tr>
                        <td>3</td>
                        <td>blabalaskansdsndasdlas</td>
                     </tr>
                  </tbody>
               </table>
            </div>

         </main>
      </div>
      <div class="col docas doca-2">
         <header class="row">
            <h1 class="text-center">DOCA 02</h1>
         </header>
         <main>
            <!-- cliente -->
            <div class="row cliente">
               <div class="col">
                  <div>
                     <p class="nomeCliente">SAMSUNG</p>
                  </div>
                  <div>
                     <p class="codigoCliente">000056565</p>
                  </div>
               </div>

               <div class="col info d-flex flex-column align-items-end">
                  <div>
                     <p>Placa: adads</p>
                     <p>NF:2312312312</p>
                     <p>Lacre: 2131232</p>
                  </div>
               </div>
            </div>
            <!-- lista dos produtos na NF -->
            <div class="conteudo">
               <table class="">
                  <thead>
                     <tr>
                        <th>Qtd.</th>
                        <th>Descrição</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>1</td>
                        <td>blabalaskansdsndasdlas</td>
                     </tr>
                     <tr>
                        <td>2</td>
                        <td>blabalaskansdsndasdlas</td>
                     </tr>
                     <tr>
                        <td>3</td>
                        <td>blabalaskansdsndasdlas</td>
                     </tr>
                  </tbody>
               </table>
            </div>

         </main>
      </div>
      <div class="col docas">
         <header class="row">
            <h1 class="text-center">DOCA 03</h1>
         </header>
         <main>
            <!-- cliente -->
            <div class="row cliente">
               <div class="col">
                  <div>
                     <p class="nomeCliente">SAMSUNG</p>
                  </div>
                  <div>
                     <p class="codigoCliente">000056565</p>
                  </div>
               </div>

               <div class="col info d-flex flex-column align-items-end">
                  <div>
                     <p>Placa: adads</p>
                     <p>NF:2312312312</p>
                     <p>Lacre: 2131232</p>
                  </div>
               </div>
            </div>
            <!-- lista dos produtos na NF -->
            <div class="conteudo">
               <table class="">
                  <thead>
                     <tr>
                        <th>Qtd.</th>
                        <th>Descrição</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr>
                        <td>1</td>
                        <td>blabalaskansdsndasdlas</td>
                     </tr>
                     <tr>
                        <td>2</td>
                        <td>blabalaskansdsndasdlas</td>
                     </tr>
                     <tr>
                        <td>3</td>
                        <td>blabalaskansdsndasdlas</td>
                     </tr>
                  </tbody>
               </table>
            </div>

         </main>
      </div>

   </div>
</div>