<div class="container-fluid text-center">      
   <table class="table table-bordered table-striped mt-3">
      <thead>
         <tr>
            <th [appSort]="engemanOS" data-order="desc" data-name="OS" class="table-header">
               <div class="d-flex justify-content-around align-items-center">
                  OS
                  <div class="d-flex flex-column">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th>
            <th [appSort]="engemanOS" data-order="desc" data-name="DataIni" class="table-header">
               <div class="d-flex justify-content-around align-items-center">
                  Hora Iniciada
                  <div class="d-flex flex-column">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th>
            <th [appSort]="engemanOS" data-order="desc" data-name="DataFim" class="table-header">
               <div class="d-flex justify-content-around align-items-center">
                  Hora Finalizada
                  <div class="d-flex flex-column">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th>
            <!-- <th [appSort]="engemanOS" data-order="desc" data-name="totalHoras" class="table-header">
               <div class="d-flex justify-content-around align-items-center">
                  Total de Horas
                  <div class="d-flex flex-column">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th> -->
            <th [appSort]="engemanOS" data-order="desc" data-name="NomeFunc" class="table-header">
               <div class="d-flex justify-content-around align-items-center">
                  Funcionários
                  <div class="d-flex flex-column">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th>
            <th [appSort]="engemanOS" data-order="desc" data-name="codfun" class="table-header">
               <div class="d-flex justify-content-around align-items-center">
                  Matricula
                  <div class="d-flex flex-column">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th>
            <th [appSort]="engemanOS" data-order="desc" data-name="Obs" class="table-header">
               <div class="d-flex justify-content-center align-items-center">
                  Descrição
                  <div class="d-flex flex-column ms-3">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th>
            <th [appSort]="engemanOS" data-order="desc" data-name="APLICDescr" class="table-header">
               <div class="d-flex justify-content-center align-items-center">
                  Equipamento
                  <div class="d-flex flex-column ms-3">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <td class="table-item">
               <app-search placeholderString="Filtrar OS" (onTyping)="filterOS = $event" [value]="filterOS"></app-search>
            </td>
            <td class="table-item">
               <app-date-filter (onTyping)="searchDateInicio = $event" [value]="searchDateInicio"></app-date-filter>
            </td>
            <td class="table-item">
               <app-date-filter (onTyping)="searchDateFim = $event" [value]="searchDateFim"></app-date-filter>
            </td>
            <!-- <td class="table-item">
               Total
            </td> -->
            <td class="table-item">
               <app-search placeholderString="Filtrar Funcionário" (onTyping)="filterFuncionario = $event" [value]="filterFuncionario"></app-search>
            </td>
            <td class="table-item">
               <app-search placeholderString="Filtrar por Matrícula" (onTyping)="filterCodigo = $event" [value]="filterCodigo"></app-search>
            </td>
            <td class="table-item">
               <app-search placeholderString="Filtrar Descrição" (onTyping)="filterDescricao = $event" [value]="filterDescricao"></app-search>
            </td>
            <td class="table-item">
               <app-search placeholderString="Filtrar Equipamento" (onTyping)="filterEquipamento = $event" [value]="filterEquipamento"></app-search>
            </td>
         </tr>
         <!-- slice: pageSize | slice: 0:itemsPerPage usado para paginacao -->
         <tr 
            *ngFor="let dados of engemanOS | 
            filterOS: filterOS | 
            filterDataIni: searchDateInicio | 
            filterDataFim: searchDateFim | 
            filterFuncionario: filterFuncionario | 
            filterMatricula: filterCodigo |
            filterDescricao: filterDescricao |
            filterEquipamento: filterEquipamento |
            paginate: {
               id: 'listing-engeman',
               itemsPerPage: itemsPerPage,
               currentPage: currentPage,
               totalItems: totalRecords
            }"
         >
            <td class="table-item">{{ dados.OS }}</td>
            <td class="table-item">{{ dados.DataIni.substring(0, 10) }} - {{ dados.DataIni.substring(11, 16) }}</td>
            <td class="table-item">
               {{
                  dados.DataFim !== null 
                  ? dados.DataFim.substring(0, 10) + ' - ' + dados.DataFim.substring(11, 16)
                  : ''
               }}
            </td>
            <!-- <td class="table-item">TOTAL</td> -->
            <td class="table-item">{{ dados.NomeFunc }}</td>
            <td class="table-item">{{ dados.codfun }}</td>
            <td class="table-item">{{ dados.Obs }}</td>
            <td class="table-item">{{ dados.APLICDescr }}</td>
         </tr>
      </tbody>
   </table>
   <!-- paginacao -->
   <div class="d-flex justify-content-between">
      <div>
         <label>itemsPerPage: </label>
         <input 
            type="number" 
            [(ngModel)]="itemsPerPage" 
            min="0" 
            max={{engemanOS.length}}
            style="padding: 5px; margin-left: 15px;"
            (change)="saveNumberOfItemsPerPage(itemsPerPage)"
         >
      </div>
      <div>
         <pagination-controls id="listing-engeman" [maxSize]="10" [directionLinks]="true" (pageChange)="currentPage = $event"></pagination-controls>
      </div>
   </div>
</div>