<main class="container-fluid">
   <div class="row">
      <div class="col">
         <table class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th class="table-header">
                     Embalagens
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td class="table-item">
                     <app-search placeholderString="Filtrar embalagens" (onTyping)="filterEmbalagem = $event" [value]="filterEmbalagem"></app-search>
                  </td>
                  <td class="table-item"></td>
               </tr>
               <tr *ngFor="let carro of listaCarros | filterEmbalagem: filterEmbalagem">
                  <td class="text-start">{{ carro.name }}</td>
                  <td class="d-flex justify-content-evenly">
                     <i aria-hidden="true" class="fa fa-edit fa-2x"></i>
                     <i aria-hidden="true" class="fa fa-trash fa-2x"></i>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="col border-start">
         <table class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th class="table-header">
                     Etiquetas
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td class="table-item">
                     <app-search placeholderString="Filtrar etiqueta" (onTyping)="filterEtiqueta = $event" [value]="filterEtiqueta"></app-search>
                  </td>
                  <td class="table-item"></td>
               </tr>
               <tr *ngFor="let etiqueta of listaEtiquetas | filterByEtiqueta: filterEtiqueta">
                  <td class="text-start">{{ etiqueta.code }}</td>
                  <td class="d-flex justify-content-evenly">
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name={{etiqueta.code}} id="ativar">
                        <label class="form-check-label" for="ativar">
                          Ativar
                        </label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name={{etiqueta.code}} id="desativar">
                        <label class="form-check-label" for="desativar">
                          Desativar
                        </label>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
      <div class="col border-start">
         <table class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th class="table-header">
                     Manutenção
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td class="table-item">
                     <app-search placeholderString="Filtrar" (onTyping)="filterManutencao = $event" [value]="filterManutencao"></app-search>
                  </td>
                  <td class="table-item"></td>
               </tr>
               <tr *ngFor="let etiqueta of listaEtiquetas">
                  <td class="text-start">Teste</td>
                  <td class="d-flex justify-content-evenly">
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name={{etiqueta.code}} id="patio">
                        <label class="form-check-label" for="patio">
                          Pátio
                        </label>
                     </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name={{etiqueta.code}} id="desativar">
                        <label class="form-check-label" for="desativar">
                          Desativar
                        </label>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
   
</main>