<main class="container-fluid" style="height: 100vh;">
    <div [hidden]="!loadData" class="row">
        <div class="col-4" id="primeiro-turno">
            <div class="d-flex flex-row justify-content-between">
                <div class="voltar" [hidden]="!voltarPrim" (click)="voltarPrimFunction($event)">
                    <i aria-hidden="true" class="fa fa-arrow-left me-2"></i>
                    <span>Voltar</span>
                </div>
            </div>
            
            <div style="display: block">
                <canvas baseChart #chartPrimeiroTurno></canvas>
            </div>

            <div class="d-flex flex-row">
                <div class="d-flex align-items-end"> <!-- para centralizar o X -->
                    <mat-form-field>
                        <mat-label>Filtrar Máquina</mat-label>
                        <input type="text"
                           placeholder="Filtrar Máquina"
                           matInput
                           [matAutocomplete]="autoPrim"
                           [(ngModel)]="maquinaSelecionadaPrimeiroTurno"
                        >
                        <mat-autocomplete #autoPrim="matAutocomplete" (optionSelected)="onItemSelectPrimTurno()">
                            <mat-option *ngFor="let option of maquinasPrimeiroTurno" [value]="option">
                            {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-icon matDatepickerToggleIcon (click)="clearSelectPrimTurno($event)">clear</mat-icon>
                </div>

                <div class="d-flex align-items-end">
                    <mat-form-field style="width: 80%;">
                        <mat-label>Range de Data</mat-label>
                        <mat-date-range-input [rangePicker]="pickerPrimeiroTurno" [max]="maxDate">
                          <input matStartDate [(ngModel)]="startDateGraficoPrimeiroTurno" placeholder="Data Início">
                          <input matEndDate [(ngModel)]="endDateGraficoPrimeiroTurno" placeholder="Data Fim" (dateChange)="dateRangePrimeiroTurno()">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="pickerPrimeiroTurno"></mat-datepicker-toggle>
                        <mat-date-range-picker #pickerPrimeiroTurno></mat-date-range-picker>
                    </mat-form-field>
                    <mat-icon matDatepickerToggleIcon (click)="clearDatePrimeiroTurno($event)">clear</mat-icon>
                </div>
            </div>
        </div>
        
        <div class="col-4" id="segundo-turno">
            <div class="d-flex flex-row justify-content-between">
                <div class="voltar" [hidden]="!voltarSeg" (click)="voltarSegFunction($event)">
                    <i aria-hidden="true" class="fa fa-arrow-left"></i>
                    <span>Voltar</span>
                </div>                
            </div>

            <div style="display: block">
                <canvas baseChart #chartSegundoTurno></canvas>
            </div>

            <div class="d-flex flex-row">
                <div class="d-flex align-items-end">
                    <mat-form-field>
                        <mat-label>Filtrar Máquina</mat-label>
                        <input type="text"
                           placeholder="Filtrar Máquina"
                           matInput
                           [matAutocomplete]="autoSeg"
                           [(ngModel)]="maquinaSelecionadaSegundoTurno"
                        >
                        <mat-autocomplete #autoSeg="matAutocomplete" (optionSelected)="onItemSelectSegTurno()">
                            <mat-option *ngFor="let option of maquinasSegundoTurno" [value]="option">
                            {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-icon matDatepickerToggleIcon (click)="clearSelectSegTurno($event)">clear</mat-icon>
                </div>

                <div class="d-flex align-items-end">
                    <mat-form-field style="width: 80%;">
                        <mat-label>Range de Data</mat-label>
                        <mat-date-range-input [rangePicker]="pickerSegundoTurno" [max]="maxDate">
                          <input matStartDate [(ngModel)]="startDateGraficoSegundoTurno" placeholder="Data Início">
                          <input matEndDate [(ngModel)]="endDateGraficoSegundoTurno" placeholder="Data Fim" (dateChange)="dateRangeSegundoTurno()">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="pickerSegundoTurno"></mat-datepicker-toggle>
                        <mat-date-range-picker #pickerSegundoTurno></mat-date-range-picker>
                    </mat-form-field>
                    <mat-icon matDatepickerToggleIcon (click)="clearDateSegundoTurno($event)">clear</mat-icon>
                </div>
            </div>
        </div>

        <div class="col-4" id="terceiro-turno">
            <div class="d-flex flex-row justify-content-between">
                <div class="voltar" [hidden]="!voltarTer" (click)="voltarTercFunction($event)">
                    <i aria-hidden="true" class="fa fa-arrow-left me-2"></i>
                    <span>Voltar</span>
                </div>
            </div>

            <div style="display: block">
                <canvas baseChart #chartTerceiroTurno></canvas>
            </div>

            <div class="d-flex">
                <div class="d-flex align-items-end">
                    <mat-form-field>
                        <mat-label>Filtrar Máquina</mat-label>
                        <input type="text"
                           placeholder="Filtrar Máquina"
                           matInput
                           [matAutocomplete]="autoTerc"
                           [(ngModel)]="maquinaSelecionadaTerceiroTurno"
                        >
                        <mat-autocomplete #autoTerc="matAutocomplete" (optionSelected)="onItemSelectTercTurno()">
                            <mat-option *ngFor="let option of maquinasTerceiroTurno" [value]="option">
                            {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-icon matDatepickerToggleIcon (click)="clearSelectTercTurno($event)">clear</mat-icon>
                </div>

                <div class="d-flex align-items-end">
                    <mat-form-field style="width: 80%;">
                        <mat-label>Range de Data</mat-label>
                        <mat-date-range-input [rangePicker]="pickerTerceiroTurno" [max]="maxDate">
                          <input matStartDate [(ngModel)]="startDateGraficoTerceiroTurno" placeholder="Data Início">
                          <input matEndDate [(ngModel)]="endDateGraficoTerceiroTurno" placeholder="Data Fim" (dateChange)="dateRangeTerceiroTurno()">
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="pickerTerceiroTurno"></mat-datepicker-toggle>
                        <mat-date-range-picker #pickerTerceiroTurno></mat-date-range-picker>
                    </mat-form-field>
                    <mat-icon matDatepickerToggleIcon (click)="clearDateTerceiroTurno($event)">clear</mat-icon>
                </div>
            </div>
        </div>
    </div>
</main>
