<div id="div-principal" class="container-fluid text-center">
   <app-search placeholderString="Filtrar por cliente" (onTyping)="filter = $event" [value]="filter"></app-search>
   
   <table class="table table-bordered table-striped mt-3">
      <thead>
         <tr>
            <th [appSort]="dadosClientes" data-order="desc" data-name="cliente" class="table-header">
               <div class="d-flex justify-content-around align-items-center">
                  Cliente
                  <div class="d-flex flex-column">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th>
            <th [appSort]="dadosClientes" data-order="desc" data-name="totalCarro" class="table-header">
               <div class="d-flex justify-content-around align-items-center">
                  Total de Carro
                  <div class="d-flex flex-column">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th>
            <th [appSort]="dadosClientes" data-order="desc" data-name="carrosCliente" class="table-header">
               <div class="d-flex justify-content-around align-items-center">
                  Carros no Cliente
                  <div class="d-flex flex-column">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th>
            <th [appSort]="dadosClientes" data-order="desc" data-name="retornoCarro" class="table-header">
               <div class="d-flex justify-content-around align-items-center">
                  Retorno do Carro
                  <div class="d-flex flex-column">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th>
            <th [appSort]="dadosClientes" data-order="desc" data-name="dataUltimaSaida" class="table-header">
               <div class="d-flex justify-content-around align-items-center">
                  Data da Última Saída
                  <div class="d-flex flex-column">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th>
            <th [appSort]="dadosClientes" data-order="desc" data-name="dataUltimoRetorno" class="table-header">
               <div class="d-flex justify-content-around align-items-center">
                  Data do Último Retorno
                  <div class="d-flex flex-column">
                     <i aria-hidden="true" class="fa fa-caret-up"></i>
                     <i aria-hidden="true" class="fa fa-caret-down"></i>
                  </div>
               </div>
            </th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let dados of dadosClientes | filterByCliente: filter">
            <td class="table-item">{{ dados.cliente }}</td>
            <td class="table-item">{{ dados.totalCarro }}</td>
            <td class="table-item">{{ dados.carrosCliente }}</td>
            <td class="table-item">{{ dados.retornoCarro }}</td>
            <td class="table-item">{{ dados.dataUltimaSaida }}</td>
            <td class="table-item">{{ dados.dataUltimoRetorno }}</td>
         </tr>
      </tbody>
   </table>
</div>