<main id="div-principal" class="container-fluid text-center">
   <div class="row">
      <div class="col">
         <app-lista-carros></app-lista-carros>
      </div>
      <div class="col-8 border-start">      
         <table class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th [appSort]="dadosClientes" data-order="desc" data-name="code" class="table-header">
                     <div class="d-flex justify-content-around align-items-center">
                        Etiqueta
                        <div class="d-flex flex-column">
                           <i aria-hidden="true" class="fa fa-caret-up"></i>
                           <i aria-hidden="true" class="fa fa-caret-down"></i>
                        </div>
                     </div>
                  </th>
                  <th [appSort]="dadosClientes" data-order="desc" data-name="cliente" class="table-header">
                     <div class="d-flex justify-content-around align-items-center">
                        Cliente
                        <!-- <div class="d-flex flex-column">
                           <i aria-hidden="true" class="fa fa-caret-up"></i>
                           <i aria-hidden="true" class="fa fa-caret-down"></i>
                        </div> -->
                     </div>
                  </th>
                  <!-- <th [appSort]="dadosClientes" data-order="desc" data-name="totalAtivo" class="table-header">
                     <div class="d-flex justify-content-around align-items-center">
                        Ativo Externo
                        <div class="d-flex flex-column">
                           <i aria-hidden="true" class="fa fa-caret-up"></i>
                           <i aria-hidden="true" class="fa fa-caret-down"></i>
                        </div>
                     </div>
                  </th> -->
                  <th [appSort]="dadosClientes" data-order="desc" data-name="dataUltimaSaida" class="table-header">
                     <div class="d-flex justify-content-around align-items-center">
                        Data de Saída
                        <!-- <div class="d-flex flex-column">
                           <i aria-hidden="true" class="fa fa-caret-up"></i>
                           <i aria-hidden="true" class="fa fa-caret-down"></i>
                        </div> -->
                     </div>
                  </th>
                  <th [appSort]="dadosClientes" data-order="desc" data-name="dataUltimoRetorno" class="table-header">
                     <div class="d-flex justify-content-around align-items-center">
                        Data de Retorno
                        <!-- <div class="d-flex flex-column">
                           <i aria-hidden="true" class="fa fa-caret-up"></i>
                           <i aria-hidden="true" class="fa fa-caret-down"></i>
                        </div> -->
                     </div>
                  </th>
                  <th [appSort]="dadosClientes" data-order="desc" data-name="status" class="table-header">
                     <div class="d-flex justify-content-around align-items-center">
                        Status
                        <div class="d-flex flex-column">
                           <i aria-hidden="true" class="fa fa-caret-up"></i>
                           <i aria-hidden="true" class="fa fa-caret-down"></i>
                        </div>
                     </div>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td class="table-item">
                     <app-search placeholderString="Filtrar etiqueta" (onTyping)="filterEtiqueta = $event" [value]="filterEtiqueta"></app-search>
                  </td>
                  <td class="table-item">
                     <app-search placeholderString="Filtrar cliente" (onTyping)="filterCliente = $event" [value]="filterCliente"></app-search>
                  </td>
                  <!-- <td class="table-item"></td> -->
                  <td class="table-item">
                     <app-date-filter (onTyping)="searchDate = $event" [value]="searchDate"></app-date-filter>
                  </td>
                  <td class="table-item">
                     <app-date-filter (onTyping)="searchDate = $event" [value]="searchDate"></app-date-filter>
                  </td>
                  <td class="table-item">
                     <app-search placeholderString="Filtrar status" (onTyping)="filterStatus = $event" [value]="filterStatus"></app-search>
                  </td>
               </tr>
               <tr 
                  *ngFor="let dados of dadosClientes | 
                  filterByEtiqueta: filterEtiqueta | 
                  filterByCliente: filterCliente | 
                  filterByStatus: filterStatus | 
                  filterByEtiqueta: searchDate"
               >
                  <td class="table-item">{{ dados.code }}</td>
                  <td class="table-item">{{ dados.cartIssues[0].client.name }}</td>
                  <!-- <td class="table-item">{{ dados.status == 'OUT' ? '1' : '' }}</td> -->
                  <td class="table-item">{{ dados.cartIssues[0].readAt.substring(0, 10) }}</td>
                  <td class="table-item">{{ dados.cartIssues[0].cartReturnal?.readAt.substring(0, 10) }}</td>
                  <td class="table-item">{{
                     dados.status == 'IDLE' ? 'Pátio' : (dados.status == 'OUT' ? 'Externo' : 'Interno')
                  }}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</main>