<main class="container-fluid text-center">
   <div *ngIf="loadData" style="margin: 0 auto;" class="mb-4">
      <div style="display: block">
          <canvas baseChart
            [height]="100"
            [data]="barChartData"
            [options]="barChartOptions"
            [type]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
      </div>
  </div>
   <div class="row">
      <div class="col border-start">        
         <table class="table table-bordered table-striped">
            <thead>
               <tr>
                  <th [appSort]="dadosClientes" data-order="desc" data-name="cliente" class="table-header">
                     <div class="d-flex justify-content-center align-items-center">
                        Cliente
                     </div>
                  </th>
                  <th class="table-header">
                     <div class="d-flex justify-content-around align-items-center">
                        Embal.
                        <div class="d-flex flex-column">
                           <i aria-hidden="true" class="fa fa-caret-up" style="color: #ffffff;"></i>
                           <i aria-hidden="true" class="fa fa-caret-down" style="color: #ffffff;"></i>
                        </div>
                     </div>
                  </th>
                  <th class="table-header">
                     <div class="d-flex justify-content-around align-items-center">
                        Total
                        <div class="d-flex flex-column">
                           <i aria-hidden="true" class="fa fa-caret-up" style="color: #ffffff;"></i>
                           <i aria-hidden="true" class="fa fa-caret-down" style="color: #ffffff;"></i>
                        </div>
                     </div>
                  </th>
                  <th [appSort]="dadosClientes" data-order="desc" data-name="dataUltimaSaida" class="table-header">
                     <div class="d-flex justify-content-around align-items-center">
                        Data de Saída
                        <div class="d-flex flex-column">
                           <i aria-hidden="true" class="fa fa-caret-up" style="color: #ffffff;"></i>
                           <i aria-hidden="true" class="fa fa-caret-down" style="color: #ffffff;"></i>
                        </div>
                     </div>
                  </th>
                  <th class="table-header">
                     <div class="d-flex justify-content-around align-items-center">
                        Qtd. Dias Externo
                     </div>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td class="table-item">
                     <app-search placeholderString="Filtrar cliente" (onTyping)="filterCliente = $event" [value]="filterCliente"></app-search>
                  </td>
                  <td class="table-item">
                     <app-search placeholderString="Filtrar embalagem" (onTyping)="filterEmbalagem = $event" [value]="filterEmbalagem"></app-search>
                  </td>
                  <td class="table-item">
                     <!-- <app-search placeholderString="Filtrar total" (onTyping)="filterTotal = $event" [value]="filterTotal"></app-search> -->
                  </td>
                  <td class="table-item">
                     <app-date-filter (onTyping)="searchDateSaida = $event" [value]="searchDateSaida"></app-date-filter>
                  </td>
                  <td class="table-item"></td>
               </tr>
               <!-- slice: pageSize | slice: 0:itemsPerPage usado para paginacao -->
               <tr 
                  *ngFor="let dados of dadosPorData | 
                  relatorioCliente: filterCliente | 
                  relatorioEmabalagem: filterEmbalagem | 
                  relatorioFilterTotal: filterTotal | 
                  relatorioFilterByDataSaida: searchDateSaida | 
                  paginate: {
                     id: 'listing-etiquetas',
                     itemsPerPage: itemsPerPage,
                     currentPage: currentPage,
                     totalItems: totalRecords
                  }"
               >
                  <td class="table-item">{{ dados.nome }}</td>
                  <td class="table-item">{{ dados.embalagem }}</td>
                  <td class="table-item">{{ dados.total }}</td>
                  <td class="table-item">{{ dados.data }}</td>
                  <td class="table-item">{{ calculateDiff(dados.data.substring(0, 10)) }}</td>
               </tr>
            </tbody>
         </table>
         <!-- paginacao -->
         <div class="d-flex justify-content-between">
            <div>
               <label>itemsPerPage: </label>
               <input 
                  type="number" 
                  [(ngModel)]="itemsPerPage" 
                  min="0" 
                  max={{dadosClientes.length}}
                  style="padding: 5px; margin-left: 15px;"
                  (change)="saveNumberOfItemssPerPage(itemsPerPage)"
               >
            </div>
            <div>
               <pagination-controls id="listing-etiquetas" [maxSize]="6" [directionLinks]="true" (pageChange)="currentPage = $event"></pagination-controls>
            </div>
         </div>
      </div>
   </div>
</main>