<main class="container-fluid">
   <div [hidden]="!loadData" style="margin: 0 auto;" class="col">
      <!-- * PRIMEIRO TURNO -->
      <div class="col" id="primeiro-turno">
         <div class="row d-flex align-items-end justify-content-between">
            <div class="col d-flex align-items-end justify-content-start">
               <mat-form-field style="width: 60%;">
                  <mat-label>Filtrar Funcionário</mat-label>
                  <input type="text"
                     placeholder="Nome ou matrícula"
                     matInput
                     [matAutocomplete]="auto"
                     [(ngModel)]="funcionarioPrimeiroTurnoSelecionado"
                  >
                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onFuncSelectPrimTurno($event)">
                     <mat-option *ngFor="let option of funcionariosPrimeiroTurno" [value]="option">
                     {{option}}
                     </mat-option>
                  </mat-autocomplete>
               </mat-form-field>
               <mat-icon matDatepickerToggleIcon (click)="clearFuncSelectPrimTurno($event)">clear</mat-icon>
            </div>
            
            <div class="col d-flex align-items-end justify-content-center">
               <mat-form-field style="width: 70%;">
                  <mat-label>Filtrar Máquina</mat-label>
                  <input type="text"
                     placeholder="Filtrar Máquina"
                     matInput
                     [matAutocomplete]="autoPrim"
                     [(ngModel)]="maquinaSelecionadaPrimeiroTurno"
                  >
                  <mat-autocomplete #autoPrim="matAutocomplete" (optionSelected)="onMaqSelectPrimTurno($event)">
                      <mat-option *ngFor="let option of maquinasPrimeiroTurno" [value]="option">
                      {{option}}
                      </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
              <mat-icon matDatepickerToggleIcon (click)="clearMaqSelectPrimTurno($event)">clear</mat-icon>   
            </div>

            <div class="col d-flex align-items-end justify-content-end">
               <mat-form-field>
                  <mat-label>Range de Data</mat-label>
                  <mat-date-range-input [rangePicker]="pickerPrimeiroTurno" [max]="maxDate">
                     <input matStartDate [(ngModel)]="startDateGraficoPrimeiroTurno" placeholder="Data Início">
                     <input matEndDate [(ngModel)]="endDateGraficoPrimeiroTurno" placeholder="Data Fim" (dateChange)="dateRangePrimeiroTurno('end', $event)">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="pickerPrimeiroTurno"></mat-datepicker-toggle>
                  <mat-date-range-picker #pickerPrimeiroTurno></mat-date-range-picker>
               </mat-form-field>
               <mat-icon matDatepickerToggleIcon (click)="clearDatePrimeiroTurno($event)">clear</mat-icon>
            </div>
         </div>
      
         <div style="display: block">
            <canvas baseChart [height]="50" #chartPrimeiroTurno></canvas>
         </div>
      </div>
      
      <!-- * SEGUNDO TURNO -->
      <div class="col" id="segundo-turno">
         <div class="row d-flex align-items-end justify-content-between">
            <div class="col d-flex align-items-end justify-content-start">
               <mat-form-field style="width: 60%;">
                  <mat-label>Filtrar Funcionário</mat-label>
                  <input type="text"
                     placeholder="Nome ou matrícula"
                     matInput
                     [matAutocomplete]="autoSegFunc"
                     [(ngModel)]="funcionarioSegundoTurnoSelecionado"
                  >
                  <mat-autocomplete #autoSegFunc="matAutocomplete" (optionSelected)="onFuncSelectSegTurno($event)">
                     <mat-option *ngFor="let option of funcionariosSegundoTurno" [value]="option">
                     {{option}}
                     </mat-option>
                  </mat-autocomplete>
               </mat-form-field>
               <mat-icon matDatepickerToggleIcon (click)="clearFuncSelectSegTurno($event)">clear</mat-icon>
            </div>
            
            <div class="col d-flex align-items-end justify-content-center">
               <mat-form-field style="width: 70%;">
                  <mat-label>Filtrar Máquina</mat-label>
                  <input type="text"
                     placeholder="Filtrar Máquina"
                     matInput
                     [matAutocomplete]="autoSegMaq"
                     [(ngModel)]="maquinaSelecionadaSegundoTurno"
                  >
                  <mat-autocomplete #autoSegMaq="matAutocomplete" (optionSelected)="onMaqSelectSegTurno($event)">
                      <mat-option *ngFor="let option of maquinasSegundoTurno" [value]="option">
                      {{option}}
                      </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
              <mat-icon matDatepickerToggleIcon (click)="clearMaqSelectSegTurno($event)">clear</mat-icon>   
            </div>

            <div class="col d-flex align-items-end justify-content-end mt-4">
               <mat-form-field>
                     <mat-label>Range de Data</mat-label>
                     <mat-date-range-input [rangePicker]="pickerSegundoTurno" [max]="maxDate">
                     <input matStartDate [(ngModel)]="startDateGraficoSegundoTurno" placeholder="Data Início">
                     <input matEndDate [(ngModel)]="endDateGraficoSegundoTurno" placeholder="Data Fim" (dateChange)="dateRangeSegundoTurno('end', $event)">
                     </mat-date-range-input>
                     <mat-datepicker-toggle matSuffix [for]="pickerSegundoTurno"></mat-datepicker-toggle>
                     <mat-date-range-picker #pickerSegundoTurno></mat-date-range-picker>
               </mat-form-field>
               <mat-icon matDatepickerToggleIcon (click)="clearDateSegundoTurno($event)">clear</mat-icon>
            </div>
         </div>

         <div style="display: block">
            <canvas baseChart [height]="50" #chartSegundoTurno></canvas>
         </div>
      </div>

      <!-- * TERCEIRO TURNO -->
      <div class="col" id="terceiro-turno">
         <div class="row d-flex align-items-end justify-content-between">
            <div class="col d-flex align-items-end justify-content-start">
               <mat-form-field style="width: 60%;">
                  <mat-label>Filtrar Funcionário</mat-label>
                  <input type="text"
                     placeholder="Nome ou matrícula"
                     matInput
                     [matAutocomplete]="autoTerFunc"
                     [(ngModel)]="funcionarioTerceiroTurnoSelecionado"
                  >
                  <mat-autocomplete #autoTerFunc="matAutocomplete" (optionSelected)="onFuncSelectTerTurno($event)">
                     <mat-option *ngFor="let option of funcionariosTerceiroTurno" [value]="option">
                     {{option}}
                     </mat-option>
                  </mat-autocomplete>
               </mat-form-field>
               <mat-icon matDatepickerToggleIcon (click)="clearFuncSelectTerTurno($event)">clear</mat-icon>
            </div>
            
            <div class="col d-flex align-items-end justify-content-center">
               <mat-form-field style="width: 70%;">
                  <mat-label>Filtrar Máquina</mat-label>
                  <input type="text"
                     placeholder="Filtrar Máquina"
                     matInput
                     [matAutocomplete]="autoTerMaq"
                     [(ngModel)]="maquinaSelecionadaTerceiroTurno"
                  >
                  <mat-autocomplete #autoTerMaq="matAutocomplete" (optionSelected)="onMaqSelectTerTurno($event)">
                      <mat-option *ngFor="let option of maquinasTerceiroTurno" [value]="option">
                      {{option}}
                      </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
              <mat-icon matDatepickerToggleIcon (click)="clearMaqSelectTerTurno($event)">clear</mat-icon>   
            </div>

            <div class="col d-flex align-items-end justify-content-end mt-4">
               <mat-form-field>
                     <mat-label>Range de Data</mat-label>
                     <mat-date-range-input [rangePicker]="pickerTerceiroTurno" [max]="maxDate">
                     <input matStartDate [(ngModel)]="startDateGraficoTerceiroTurno" placeholder="Data Início">
                     <input matEndDate [(ngModel)]="endDateGraficoTerceiroTurno" placeholder="Data Fim" (dateChange)="dateRangeTerceiroTurno('end', $event)">
                     </mat-date-range-input>
                     <mat-datepicker-toggle matSuffix [for]="pickerTerceiroTurno"></mat-datepicker-toggle>
                     <mat-date-range-picker #pickerTerceiroTurno></mat-date-range-picker>
               </mat-form-field>
               <mat-icon matDatepickerToggleIcon (click)="clearDateTerceiroTurno($event)">clear</mat-icon>
            </div>
         </div>

         <div style="display: block">
            <canvas baseChart [height]="50" #chartTerceiroTurno></canvas>
         </div>
      </div>
   </div>
</main>
