<table class="table table-bordered table-striped">
   <thead>
      <tr>
         <th [appSort]="listaCarros" data-order="desc" data-name="name" class="table-header">
            <div class="d-flex justify-content-around align-items-center">
               Embal.
               <div class="d-flex flex-column">
                  <i aria-hidden="true" class="fa fa-caret-up"></i>
                  <i aria-hidden="true" class="fa fa-caret-down"></i>
               </div>
            </div>
         </th>
         <th [appSort]="listaCarros" data-order="desc" data-name="carts" class="table-header">
            <div class="d-flex justify-content-around align-items-center">
               Disp.
               <div class="d-flex flex-column ms-1">
                  <i aria-hidden="true" class="fa fa-caret-up"></i>
                  <i aria-hidden="true" class="fa fa-caret-down"></i>
               </div>
            </div>
         </th>
         <th [appSort]="listaCarros" data-order="desc" data-name="disponivel" class="table-header">
            <div class="d-flex justify-content-around align-items-center">
               PAM
               <div class="d-flex flex-column ms-1">
                  <i aria-hidden="true" class="fa fa-caret-up"></i>
                  <i aria-hidden="true" class="fa fa-caret-down"></i>
               </div>
            </div>
         </th>
         <th [appSort]="listaCarros" data-order="desc" data-name="cliente" class="table-header">
            <div class="d-flex justify-content-around align-items-center">
               Cliente
               <div class="d-flex flex-column ms-1">
                  <i aria-hidden="true" class="fa fa-caret-up"></i>
                  <i aria-hidden="true" class="fa fa-caret-down"></i>
               </div>
            </div>
         </th>
         <th [appSort]="listaCarros" data-order="desc" data-name="manutencao" class="table-header">
            <div class="d-flex justify-content-around align-items-center">
               Manu.
               <div class="d-flex flex-column ms-1">
                  <i aria-hidden="true" class="fa fa-caret-up"></i>
                  <i aria-hidden="true" class="fa fa-caret-down"></i>
               </div>
            </div>
         </th>
         <th [appSort]="listaCarros" data-order="desc" data-name="inativos" class="table-header">
            <div class="d-flex justify-content-around align-items-center">
               Inat.
               <div class="d-flex flex-column ms-1">
                  <i aria-hidden="true" class="fa fa-caret-up"></i>
                  <i aria-hidden="true" class="fa fa-caret-down"></i>
               </div>
            </div>
         </th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td class="table-item">
            <app-search placeholderString="Filtrar embalagens" (onTyping)="filterEmbalagem = $event" [value]="filterEmbalagem"></app-search>
         </td>
         <td class="table-item"></td>
         <td class="table-item"></td>
         <td class="table-item"></td>
         <td class="table-item"></td>
         <td class="table-item"></td>
      </tr>
      <tr *ngFor="let carro of listaCarros | slice: pageSize | slice: 0:itemsPerPage | filterEmbalagem: filterEmbalagem">
         <td class="text-start">{{ carro.name }}</td>
         <td>{{ carro.carts.length }}</td>
         <td>{{ carro.disponivel }}</td>
         <td>{{ carro.cliente }}</td>
         <td>{{ carro.manutencao }}</td>
         <td>{{ carro.inativos }}</td>
      </tr>
   </tbody>
</table>
<!-- paginacao -->
<ngb-pagination class="d-flex justify-content-end" [collectionSize]="listaCarros.length" #numPages [pageSize]="itemsPerPage" [(page)]="currentPage" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
